html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-image: url("/public/images/background.jpg");
  background-size: 80%;
  background-color: #dbdbdb;
}

img {
  display: inline-block;
  max-width: 100%;
}

main{
    /* background-color: #dbdbdb; */
    /* background-color:rgba(228, 228, 228, 0.8); */
}

h1{
  color: rgb(255, 255, 255);
}

h2{
  color: rgb(255, 255, 255);
}

.fotoS{
  border-radius: 40px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  background-color:rgba(228, 228, 228, 0.8);
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 15px;
  background-color: #114dae;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color:#2b73e7;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
button edit
-------------------------------------------------------------------------------- */
.btnEdit {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 15px;
  background-color: #ec8d00;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btnEdit_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btnEdit_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btnEdit_sizeFull {
  display: block;
  width: 100%;
}

.btnEdit:hover {
  background-color:#ecb638;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
button delete
-------------------------------------------------------------------------------- */

.btnDelete {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 15px;
  background-color: #931f1f;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btnDelete_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btnDelete_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btnDelete_sizeFull {
  display: block;
  width: 100%;
}

.btnDelete:hover {
  background-color:#e72b2b;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
button share
-------------------------------------------------------------------------------- */

.btnShare {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 15px;
  background-color: #3e6f64;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btnShare_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btnShare_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btnShare_sizeFull {
  display: block;
  width: 100%;
}

.btnShare:hover {
  background-color:#59887e;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
button details
-------------------------------------------------------------------------------- */

.btnDetails {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 15px;
  background-color: #cd8f00;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btnDetails_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btnDetails_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btnDetails_sizeFull {
  display: block;
  width: 100%;
}

.btnDetails:hover {
  background-color:#eea600;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
button Submit
-------------------------------------------------------------------------------- */
.btnSubmit {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 15px;
  background-color: #34703f;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btnSubmit_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btnSubmit_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btnSubmit_sizeFull {
  display: block;
  width: 100%;
}

.btnSubmit:hover {
  background-color:#42a555;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
button Submit
-------------------------------------------------------------------------------- */

input[type="file"]::file-selector-button {
  border: 2px solid #0d044b;
  /* padding: 0.2em 0.4em; */
  border-radius: 0.2em;
  background-color: #28978c;
  /* transition: 1s; */
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
}

input[type="file"]::-ms-browse:hover {
  background-color: #1a5667;
  border: 2px solid #1a5667;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #1a5667;
  border: 2px solid #1a5667;
}

input[type="file"]::file-selector-button:hover {
  background-color: #1a5667;
  border: 2px solid #1a5667;
}

/* --------------------------------------------------------------------------------
button Add New+
-------------------------------------------------------------------------------- */

.btnAddNew {
  display: inline-block;
  padding: 10px 20px;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 15px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btnAddNew_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btnAddNew_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btnAddNew_sizeFull {
  display: block;
  width: 100%;
}

.btnAddNew:hover {
  background-image: linear-gradient(144deg,#5cf7ff, #267385 50%,#2300eb);
}
